<!DOCTYPE html>
<html>
<head>
  <style>
    h1 {
      color: red;
    }
    p {
      font-size: 16px;
    }
  </style>
</head>
<body>
  <h1>this is version 5</h1>
  <h1>my name is pragati</h1>
</body>
</html>
